language: node_js
node_js:
  - "stable"
  - "lts/*"
  - "6"
cache:
  directories:
  - node_modules
before_script:
  - npm install -g codecov
script:
  - npm test -- --coverage
  - codecov
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master
    node: "stable"
